In [1]:
import numpy as np
import pandas as pd
import json

In [3]:
df = pd.read_csv('hmrxapp.csv')
df.head()

,id,avaliador,arquivo,histograma,gamma_l,gamma_h,c,d0,data_add
0,6,5,rx - 121.png,"{""0"":1,""1"":0.0491894893348217,""2"":0.4536053538...",0.13,1.8,1.8,317,2021-07-02 16:52:02.828811-03
1,7,5,rx - 122.png,"{""0"":0,""1"":0,""2"":0,""3"":0,""4"":0,""5"":0.003775009...",0.26,2.8,2.0,379,2021-07-02 16:52:02.828811-03
2,8,5,rx - 123.png,"{""0"":0,""1"":0,""2"":0,""3"":0,""4"":0,""5"":0,""6"":0,""7""...",0.07,2.6,1.0,509,2021-07-02 16:52:02.828811-03
3,9,5,rx - 125.png,"{""0"":0,""1"":0,""2"":0,""3"":0,""4"":0,""5"":0,""6"":0,""7""...",0.14,2.5,1.1,523,2021-07-02 16:52:02.828811-03
4,10,5,rx - 125.png,"{""0"":0,""1"":0,""2"":0,""3"":0,""4"":0,""5"":0,""6"":0,""7""...",0.14,2.5,1.1,523,2021-07-02 16:52:02.828811-03

In [4]:
df_eric = df[df['avaliador'] == 1]

In [5]:
df_eric = df_eric.reset_index()

In [7]:
df_eric.drop(columns=['index'])

,id,avaliador,arquivo,histograma,gamma_l,gamma_h,c,d0,data_add
0,165,1,rx - 60.png,"{""0"":0,""1"":0,""2"":0,""3"":0,""4"":0,""5"":0,""6"":0,""7""...",0.31,2.3,2.2,220,2021-07-20 05:06:08.483008-03
1,166,1,rx - 59.png,"{""0"":0.9630163311958313,""1"":0.2800191938877105...",0.39,3.1,1.2,625,2021-07-20 05:14:06.006332-03
2,167,1,rx - 58.png,"{""0"":0.006085964385420084,""1"":0.27120578289031...",0.37,2.2,2.4,444,2021-07-20 05:14:06.006332-03
3,168,1,rx - 57.png,"{""0"":0,""1"":0,""2"":0,""3"":0,""4"":0,""5"":0,""6"":0,""7""...",0.21,2.3,1.3,372,2021-07-20 05:14:06.006332-03
4,169,1,rx - 56.png,"{""0"":0.0023784355726093054,""1"":0.2470930218696...",0.24,2.4,1.4,336,2021-07-20 05:14:06.006332-03
...,...,...,...,...,...,...,...,...,...
108,273,1,rx - 116.png,"{""0"":0,""1"":0,""2"":0.0005411255406215787,""3"":0.0...",0.32,2.2,2.3,982,2021-07-22 04:33:30.891079-03
109,274,1,rx - 117.png,"{""0"":1,""1"":0.004587156232446432,""2"":0.00425950...",0.38,3.0,2.0,361,2021-07-22 04:33:30.891079-03
110,275,1,rx - 118.png,"{""0"":0.15649916231632233,""1"":0.023363620042800...",0.33,2.3,2.2,820,2021-07-22 04:33:30.891079-03
111,276,1,rx - 119.png,"{""0"":0,""1"":0,""2"":0,""3"":0,""4"":0,""5"":0,""6"":0,""7""...",0.24,2.7,2.2,790,2021-07-22 04:33:30.891079-03
112,277,1,rx - 120.png,"{""0"":0.000641436839941889,""1"":0.06350224465131...",0.36,2.6,2.5,871,2021-07-22 04:33:30.891079-03

In [8]:
nome_arquivo = df_eric['arquivo'].reset_index()

In [9]:
nome_arquivo = nome_arquivo.drop(columns=['index'])

In [10]:
nome_arquivo

          arquivo
0     rx - 60.png
1     rx - 59.png
2     rx - 58.png
3     rx - 57.png
4     rx - 56.png
..            ...
108  rx - 116.png
109  rx - 117.png
110  rx - 118.png
111  rx - 119.png
112  rx - 120.png

[113 rows x 1 columns]

In [11]:
histogramas = df_eric['histograma']
bins = [str(i) for i in range(256)]
histogramas.size

113

In [12]:
h_series = []
for h in range(histogramas.size):
    histograma_pool = json.loads(histogramas.iloc[h])
    lista = [np.round(value, 2) for key, value in histograma_pool.items()]
    arr_hist = np.array(lista)
    h_series.append(arr_hist)

In [13]:
h_series = np.array(h_series)
h_series.shape

(113, 256)

In [14]:
X = pd.DataFrame(h_series, columns=bins)

In [15]:
X.head()

,0,1,2,3,4,5,6,7,8,9,...,246,247,248,249,250,251,252,253,254,255
0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.01,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.96,0.28,0.21,0.17,0.16,0.12,0.12,0.10,0.12,0.10,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.01,0.27,0.75,0.54,1.00,0.58,0.38,0.29,0.25,0.20,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.00,0.25,0.53,1.00,0.81,0.30,0.17,0.10,0.08,0.07,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [16]:
Y = df_eric[['gamma_l', 'gamma_h', 'c', 'd0']]
Y.head()

   gamma_l  gamma_h    c   d0
0     0.31      2.3  2.2  220
1     0.39      3.1  1.2  625
2     0.37      2.2  2.4  444
3     0.21      2.3  1.3  372
4     0.24      2.4  1.4  336

In [17]:
Y = Y.reset_index()
Y.drop(columns=['index'])

     gamma_l  gamma_h    c   d0
0       0.31      2.3  2.2  220
1       0.39      3.1  1.2  625
2       0.37      2.2  2.4  444
3       0.21      2.3  1.3  372
4       0.24      2.4  1.4  336
..       ...      ...  ...  ...
108     0.32      2.2  2.3  982
109     0.38      3.0  2.0  361
110     0.33      2.3  2.2  820
111     0.24      2.7  2.2  790
112     0.36      2.6  2.5  871

[113 rows x 4 columns]

In [18]:
analise_eric = pd.concat([X, Y, nome_arquivo], axis=1)

In [19]:
analise_eric.shape

(113, 262)

In [25]:
analise_eric.columns

Index(['0', '1', '2', '3', '4', '5', '6', '7', '8', '9',
       ...
       '252', '253', '254', '255', 'index', 'gamma_l', 'gamma_h', 'c', 'd0',
       'arquivo'],
      dtype='object', length=262)

In [26]:
analise_eric.drop(columns=['index'])

,0,1,2,3,4,5,6,7,8,9,...,251,252,253,254,255,gamma_l,gamma_h,c,d0,arquivo
0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.01,...,0.0,0.0,0.0,0.0,0.0,0.31,2.3,2.2,220,rx - 60.png
1,0.96,0.28,0.21,0.17,0.16,0.12,0.12,0.10,0.12,0.10,...,0.0,0.0,0.0,0.0,0.0,0.39,3.1,1.2,625,rx - 59.png
2,0.01,0.27,0.75,0.54,1.00,0.58,0.38,0.29,0.25,0.20,...,0.0,0.0,0.0,0.0,0.0,0.37,2.2,2.4,444,rx - 58.png
3,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.0,0.0,0.0,0.0,0.0,0.21,2.3,1.3,372,rx - 57.png
4,0.00,0.25,0.53,1.00,0.81,0.30,0.17,0.10,0.08,0.07,...,0.0,0.0,0.0,0.0,0.0,0.24,2.4,1.4,336,rx - 56.png
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
108,0.00,0.00,0.00,0.01,0.05,0.40,1.00,0.53,0.31,0.13,...,0.0,0.0,0.0,0.0,0.0,0.32,2.2,2.3,982,rx - 116.png
109,1.00,0.00,0.00,0.06,0.06,0.04,0.05,0.10,0.25,0.35,...,0.0,0.0,0.0,0.0,0.0,0.38,3.0,2.0,361,rx - 117.png
110,0.16,0.02,0.00,0.05,0.66,1.00,0.84,0.23,0.11,0.07,...,0.0,0.0,0.0,0.0,0.0,0.33,2.3,2.2,820,rx - 118.png
111,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.01,...,0.0,0.0,0.0,0.0,0.0,0.24,2.7,2.2,790,rx - 119.png
112,0.00,0.06,0.08,0.13,0.22,0.34,0.49,0.53,0.53,0.47,...,0.0,0.0,0.0,0.0,0.0,0.36,2.6,2.5,871,rx - 120.png

In [27]:
analise_eric.to_csv('analise_eric.csv')