# Manipulação dos Dados

## 1.  Separação dos histogramas

In [1]:
import numpy as np
import pandas as pd
import json

In [2]:
df = pd.read_csv('hmrxapp.csv')

In [3]:
df.head()

,id,avaliador,arquivo,histograma,gamma_l,gamma_h,c,d0,data_add
0,6,5,rx - 121.png,"{""0"":1,""1"":0.0491894893348217,""2"":0.4536053538...",0.13,1.8,1.8,317,2021-07-02 16:52:02.828811-03
1,7,5,rx - 122.png,"{""0"":0,""1"":0,""2"":0,""3"":0,""4"":0,""5"":0.003775009...",0.26,2.8,2.0,379,2021-07-02 16:52:02.828811-03
2,8,5,rx - 123.png,"{""0"":0,""1"":0,""2"":0,""3"":0,""4"":0,""5"":0,""6"":0,""7""...",0.07,2.6,1.0,509,2021-07-02 16:52:02.828811-03
3,9,5,rx - 125.png,"{""0"":0,""1"":0,""2"":0,""3"":0,""4"":0,""5"":0,""6"":0,""7""...",0.14,2.5,1.1,523,2021-07-02 16:52:02.828811-03
4,10,5,rx - 125.png,"{""0"":0,""1"":0,""2"":0,""3"":0,""4"":0,""5"":0,""6"":0,""7""...",0.14,2.5,1.1,523,2021-07-02 16:52:02.828811-03

In [4]:
df.shape

(272, 9)

Remover Emeline

In [5]:
df[df['avaliador'] == 3].shape

(28, 9)

In [6]:
df = df[df['avaliador'] != 3]
df.shape

(244, 9)

Tirar 4 duplicatas

In [7]:
df[df.duplicated(subset=['arquivo'])].head(4)

,id,avaliador,arquivo,histograma,gamma_l,gamma_h,c,d0,data_add
4,10,5,rx - 125.png,"{""0"":0,""1"":0,""2"":0,""3"":0,""4"":0,""5"":0,""6"":0,""7""...",0.14,2.5,1.1,523,2021-07-02 16:52:02.828811-03
25,31,5,rx - 146.png,"{""0"":0.15300352871418,""1"":0.10106007009744644,...",0.12,3.5,1.0,435,2021-07-02 18:53:15.740794-03
60,66,4,rx - 183.png,"{""0"":0.0019607844296842813,""1"":0.4480392336845...",0.10,2.0,9.9,104,2021-07-08 13:40:19.27691-03
73,79,4,rx - 188.png,"{""0"":1,""1"":0.08366914838552475,""2"":0.019947612...",0.29,2.3,0.8,232,2021-07-08 13:40:19.27691-03

In [8]:
df = df.drop([4,25,60,73])
df.shape

(240, 9)

In [9]:
histogramas = df['histograma']
bins = [str(i) for i in range(256)]
histogramas.size

240

In [10]:
h_series = []
for h in range(histogramas.size):
    histograma_pool = json.loads(histogramas.iloc[h])
    lista = [np.round(value, 2) for key, value in histograma_pool.items()]
    arr_hist = np.array(lista)
    h_series.append(arr_hist)

In [11]:
h_series = np.array(h_series)
print(h_series.shape)
print(h_series[0:2, 0:10])

(240, 256)
[[1.   0.05 0.45 0.27 0.06 0.07 0.08 0.1  0.09 0.08]
 [0.   0.   0.   0.   0.   0.   0.23 0.43 0.62 1.  ]]

In [12]:
X = pd.DataFrame(h_series, columns=bins)

In [13]:
X.head()

,0,1,2,3,4,5,6,7,8,9,...,246,247,248,249,250,251,252,253,254,255
0,1.0,0.05,0.45,0.27,0.06,0.07,0.08,0.10,0.09,0.08,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.00,0.00,0.00,0.00,0.00,0.23,0.43,0.62,1.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.06,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.10,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [14]:
X.shape

(240, 256)

## 2.  Separação dos parâmetros

In [9]:
Y = df[['gamma_l', 'gamma_h', 'c', 'd0']]
print(Y.shape)

(149, 4)

In [10]:
Y.head()

   gamma_l  gamma_h    c   d0
0     0.13      1.8  1.8  317
1     0.26      2.8  2.0  379
2     0.07      2.6  1.0  509
3     0.14      2.5  1.1  523
4     0.14      2.5  1.1  523

## 3.  Formação do conjunto de dados

In [11]:
print(X.shape, Y.shape)

(149, 256) (149, 4)

Separação do nome do arquivo

In [15]:
nome_arquivo = df['arquivo']

In [17]:
type(nome_arquivo)

pandas.core.series.Series

In [12]:
analise = pd.concat([X, Y], axis=1)

In [23]:
analise = analise.join(nome_arquivo)

In [24]:
analise.head()

,0,1,2,3,4,5,6,7,8,9,...,251,252,253,254,255,gamma_l,gamma_h,c,d0,arquivo
0,1.0,0.05,0.45,0.27,0.06,0.07,0.08,0.10,0.09,0.08,...,0.0,0.0,0.0,0.0,0.0,0.13,1.8,1.8,317,rx - 121.png
1,0.0,0.00,0.00,0.00,0.00,0.00,0.23,0.43,0.62,1.00,...,0.0,0.0,0.0,0.0,0.0,0.26,2.8,2.0,379,rx - 122.png
2,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.06,...,0.0,0.0,0.0,0.0,0.0,0.07,2.6,1.0,509,rx - 123.png
3,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.0,0.0,0.0,0.0,0.0,0.14,2.5,1.1,523,rx - 125.png
4,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.0,0.0,0.0,0.0,0.0,0.14,2.5,1.1,523,rx - 125.png

## 3.  Exportação

In [25]:
analise.to_csv('analise.csv')