# Manipulação dos Dados

## 1.  Separação dos histogramas

In [1]:
import numpy as np
import pandas as pd
import json

In [2]:
df = pd.read_csv('hmrxapp.csv')

In [3]:
df.head(10)

,id,avaliador,arquivo,histograma,gamma_l,gamma_h,c,d0,data_add
0,6,5,rx - 121.png,"{""0"":1,""1"":0.0491894893348217,""2"":0.4536053538...",0.13,1.8,1.8,317,2021-07-02 16:52:02.828811-03
1,7,5,rx - 122.png,"{""0"":0,""1"":0,""2"":0,""3"":0,""4"":0,""5"":0.003775009...",0.26,2.8,2.0,379,2021-07-02 16:52:02.828811-03
2,8,5,rx - 123.png,"{""0"":0,""1"":0,""2"":0,""3"":0,""4"":0,""5"":0,""6"":0,""7""...",0.07,2.6,1.0,509,2021-07-02 16:52:02.828811-03
3,9,5,rx - 125.png,"{""0"":0,""1"":0,""2"":0,""3"":0,""4"":0,""5"":0,""6"":0,""7""...",0.14,2.5,1.1,523,2021-07-02 16:52:02.828811-03
4,10,5,rx - 125.png,"{""0"":0,""1"":0,""2"":0,""3"":0,""4"":0,""5"":0,""6"":0,""7""...",0.14,2.5,1.1,523,2021-07-02 16:52:02.828811-03
5,11,5,rx - 126.png,"{""0"":0,""1"":0,""2"":0,""3"":0,""4"":0,""5"":0,""6"":0,""7""...",0.09,2.3,0.8,419,2021-07-02 16:52:02.828811-03
6,12,5,rx - 127.png,"{""0"":0,""1"":0,""2"":0,""3"":0,""4"":0,""5"":0,""6"":0,""7""...",0.18,2.8,1.8,746,2021-07-02 16:52:02.828811-03
7,13,5,rx - 128.png,"{""0"":0.1477935016155243,""1"":0,""2"":0,""3"":0,""4"":...",0.12,2.0,1.0,342,2021-07-02 16:52:02.828811-03
8,14,5,rx - 129.png,"{""0"":0.0918155387043953,""1"":0.0573327764868736...",0.13,2.5,1.0,321,2021-07-02 16:52:02.828811-03
9,15,5,rx - 131.png,"{""0"":0.0032807053066790104,""1"":0.3838425278663...",0.21,2.5,1.5,368,2021-07-02 16:52:02.828811-03

In [78]:
df.shape

(272, 9)

#### Remover Emeline

In [6]:
df[df['avaliador'] == 3].shape

(28, 9)

In [80]:
df = df[df['avaliador'] != 3]
df.shape

(244, 9)

#### Tirar 4 duplicatas

In [82]:
df[df.duplicated(subset=['arquivo'], keep='first')].shape

(23, 9)

In [83]:
df = df.drop([4,25,60,73])

In [84]:
df.shape

(240, 9)

In [11]:
nome_arquivo = df['arquivo'].reset_index()
nome_arquivo.drop(columns=['index'])

          arquivo
0     rx - 60.png
1     rx - 59.png
2     rx - 58.png
3     rx - 57.png
4     rx - 56.png
..            ...
108  rx - 116.png
109  rx - 117.png
110  rx - 118.png
111  rx - 119.png
112  rx - 120.png

[113 rows x 1 columns]

In [135]:
nome_arquivo.head(10)

   index       arquivo
0      0  rx - 121.png
1      1  rx - 122.png
2      2  rx - 123.png
3      3  rx - 125.png
4      5  rx - 126.png
5      6  rx - 127.png
6      7  rx - 128.png
7      8  rx - 129.png
8      9  rx - 131.png
9     10  rx - 132.png

In [124]:
histogramas = df['histograma']
bins = [str(i) for i in range(256)]
histogramas.size

240

In [125]:
h_series = []
for h in range(histogramas.size):
    histograma_pool = json.loads(histogramas.iloc[h])
    lista = [np.round(value, 2) for key, value in histograma_pool.items()]
    arr_hist = np.array(lista)
    h_series.append(arr_hist)

In [126]:
h_series = np.array(h_series)
h_series.shape

(240, 256)

In [127]:
X = pd.DataFrame(h_series, columns=bins)

In [128]:
X.head()

,0,1,2,3,4,5,6,7,8,9,...,246,247,248,249,250,251,252,253,254,255
0,1.0,0.05,0.45,0.27,0.06,0.07,0.08,0.10,0.09,0.08,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.00,0.00,0.00,0.00,0.00,0.23,0.43,0.62,1.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.06,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.10,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [129]:
X.shape

(240, 256)

## 2.  Separação dos parâmetros

In [130]:
Y = df[['gamma_l', 'gamma_h', 'c', 'd0']]

#### Reseta o ínidce

In [121]:
Y.head(10)

    gamma_l  gamma_h    c   d0
0      0.13      1.8  1.8  317
1      0.26      2.8  2.0  379
2      0.07      2.6  1.0  509
3      0.14      2.5  1.1  523
5      0.09      2.3  0.8  419
6      0.18      2.8  1.8  746
7      0.12      2.0  1.0  342
8      0.13      2.5  1.0  321
9      0.21      2.5  1.5  368
10     0.13      2.1  1.8  271

In [139]:
Y = Y.reset_index()
Y.drop(columns=['index'])

     level_0  gamma_l  gamma_h    c   d0
0          0     0.13      1.8  1.8  317
1          1     0.26      2.8  2.0  379
2          2     0.07      2.6  1.0  509
3          3     0.14      2.5  1.1  523
4          4     0.09      2.3  0.8  419
..       ...      ...      ...  ...  ...
235      235     0.32      2.2  2.3  982
236      236     0.38      3.0  2.0  361
237      237     0.33      2.3  2.2  820
238      238     0.24      2.7  2.2  790
239      239     0.36      2.6  2.5  871

[240 rows x 5 columns]

## 3.  Formação do conjunto de dados

In [140]:
print(X.shape, Y.shape)

(240, 256) (240, 6)

Separação do nome do arquivo

In [141]:
type(nome_arquivo)

pandas.core.frame.DataFrame

In [148]:
analise = pd.concat([X, Y, nome_arquivo], axis=1)

In [143]:
analise.shape

(240, 264)

In [149]:
analise = analise.drop(columns=['level_0', 'index'])

In [150]:
analise.columns

Index(['0', '1', '2', '3', '4', '5', '6', '7', '8', '9',
       ...
       '251', '252', '253', '254', '255', 'gamma_l', 'gamma_h', 'c', 'd0',
       'arquivo'],
      dtype='object', length=261)

## 3.  Exportação

In [151]:
analise.to_csv('analise.csv')